/*style.css*/
body{
    display:flex;
    flex-direction:column;
    height:100px;
    margin:0;
}
header.footer{
    background-color:lightcoral;
    padding:10px;
    text-align:center;
}
main{
    flex:1;
    background-color:lightblue;
    padding:20px;
}
@media(max-widht:60px){
    body{
        flex-direction: row;
    }
    header.footer{
        flex:1;
        padding:5px;
    }
    main{
        flex:2;
    }
}